openapi: 3.1.0
info:
  title: Todoist REST v2 (minimal)
  version: 1.0.0
servers:
  - url: https://api.todoist.com
paths:
  /api/v1/tasks/filter:
    get:
      operationId: listTasksByFilter
      summary: List tasks by filter
      description: Returns active tasks matching todoist filter query.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    id:
                      type: string
                    content:
                      type: string
                    priority:
                      type: integer
                      description: "4=highest, 1=lowest (Todoist priority scale)"
                    due:
                      type: object
                      additionalProperties: true
                    project_id:
                      type: string
  /api/v1/tasks:
    get:
      operationId: listTasks
      summary: List tasks
      description: Returns active tasks.
      parameters:
        - name: project_id
          in: query
          required: false
          schema:
            type: string
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/projects:
    get:
      operationId: listProjects
      summary: List projects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/tasks/{task_id}/close:
    post:
      operationId: closeTask
      summary: Complete (close) a task
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Task closed
        "404":
          description: Task not found
